body{

  background-color: #232323;
}

.square{

	width:30%;
	background-color: #232323;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background .6s;

}
#container{
	max-width: 600px;
	margin: 0 auto;
}

h1{
	color:white;
	background-color: steelblue;
    text-align: center;
    margin: 0;
    text-transform: uppercase; 
    line-height: 1.1;
    padding: 10px 0;
    
}

#colorDisplay{

	font-size:200%;
	
}

#message{

    display:inline-block; 
	width: 20%;
}

#stripe{

	background-color: white;
	height: 20px;
	text-align: center;
	color: black;
}

.selected{

	background-color: steelblue;
	color: white;
}

button{

	color:steelblue;
	border:none;
	text-transform: uppercase; 
	height:100%; 
	font-weight: 700;
	transition: all .3s;

}

button:hover{

	background-color: steelblue;
	color: white;

}